/* End WhyUs Section */


/* Testimonial Section */

.testimonial__wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.testimonial__title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--black-1);
}

.testimonial__items__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.testimonial__item {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: var(--lightGreen-1);
    border-radius: 12px;
}

.testimonial__item__info {
    flex: 4;
}

.testimonial__item__img {
    flex: 2;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.testimonial__item__img img {
    object-fit: cover;
}

.testimonial__item__name {
    font-size: 1.4rem;
    font-family: poppins;
    margin-bottom: 1rem;
}

.testimonial__item__stars {
    max-height: 15px;
    width: max-content;
    margin-bottom: 1.5rem;
}

.testimonial__item__text {
    font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
    .testimonial__wrapper {
        max-width: 900px;
    }
    .testimonial__title {
        font-size: 3.6rem;
        margin-bottom: 5rem;
    }
    .testimonial__items__wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .testimonial__item {
        padding: 2rem;
    }
    .testimonial__item__name {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    .testimonial__item__stars {
        margin-bottom: 2rem;
    }
    .testimonial__item__text {
        font-size: 1.6rem;
        line-height: 1.4em;
    }
}

@media only screen and (max-width: 350px) {
    .testimonial__item {
        flex-direction: column;
    }
    .testimonial__item__img,
    .testimonial__item__info {
        flex: auto;
    }
}


/* End Testimonial Section */